.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
*.iml
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
backend/node_modules/
backend/.env
.env
